.Homepage {
    background-color: #282c34;
    text-align: center;
}

.Homepage-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.Homepage-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.Quiz-button {
    width: -moz-fit-content;
    width: fit-content;
    padding: 1vmin 2vmin;
    border: 0.4vmin solid #61dafb;
    border-radius: 5vmin;
    background-color: #282c34;
    vertical-align: middle;
    color: #61dafb;
}

.open-button:hover {
    background-color: #61dafb;
    color: #0e0f14;
    font-style: bold;
}

.open-button:focus {
    outline: none;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #61dafb;
    display: flex;
    align-items: center;
    justify-content: center;
}