.Homepage {
  background-color: #282c34;
  text-align: center;
}

.Homepage-logo {
  height: 40vmin;
  pointer-events: none;
}

.Homepage-header {
  background-color: #282c34;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.open-button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vmin 2vmin;
  border: 0.4vmin solid #61dafb;
  border-radius: 5vmin;
  background-color: #282c34;
  vertical-align: middle;
  color: #61dafb;
}

.close-button {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1vmin;
  padding: 1vmin 2vmin;
  border: 5px solid #252d4a;
  border-radius: 5vmin;
  margin-left: auto;
  margin-right: auto;
  background-color: #252d4a;
  color: #61dafb;
  display: flex;
}

button.close-button:hover {
  background-color: #555e7d;
}

.quiz-tile-button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  background-color: #ffffff;
  vertical-align: middle;
  color: #61dafb;
}

.open-button:hover {
  background-color: #61dafb;
  color: #0e0f14;
  font-style: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.open-button:focus {
  outline: none;
}

/* modal backdrop properties */
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #61dafb;
  display: flex;
  align-items: center;
  justify-content: center;
}
