body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

code {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
}

.Quiz {
  background-color: #252d4a;
  height: min(50%, 800px, 90%);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.display-score {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.display-score p {
  width: -webkit-fill-available;
  align-items: center;
  justify-content: center;
  display: flex;
}

.question-section {
  padding: 1rem;
  overflow: auto;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span,
.preview-title {
  font-size: 28px;
}

.question-text,
.preview-text {
  margin-bottom: 12px;
}

.question-image {
  width: clamp(150px, 50%, 400px);
  height: auto;
}

.answer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.answer-section button,
.answer-feedback button,
.display-score button {
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  margin: 2.5px;

  border: 5px solid #234668;
  cursor: pointer;
}

.answer-choices button {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

button.after-feedback {
  justify-content: center;
  align-items: center;
  display: inline;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

.Quiz button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}
